body {
	background: url("http://www.pptbackgrounds.org/uploads/elegant-grey-illumination-background-presentations-powerpoint-backgrounds.jpg");
}

.container-fluid {
	top: 0;
	bottom: 0;
	color: lightgray;
}

.display {
	height: 150px;
	margin-left: 20px;
	margin-top: 30px;
	padding: 10px;
}

#result {
	height: 150px;
	margin-top: 30px;
	padding: 10px;
}

#total {
	height: 140px;
	margin-bottom: 40px;
	padding: 10px;
}

.thumbnail {
	background: #000000;
}

#crystal {
	margin-top: 30px;
	margin-bottom: 20px;
}

#direction {
	font-size: 16px;
}

@media screen and (max-width: 640px) {
	.crystal {
		padding: 5px;
	}
}